extends layout

block content
    header.header
        a(href="/")= 'Board'
        a(href="/new")= 'New'
    
    h1.title New Message

    form.new-message-form(method='post' action='/new') 
        input.name-input(name='name' type="text" placeholder="Your Name" required)
        textarea.message-input(name='message' type="text" maxlength='240' placeholder='Type here...' required)
        button.submit(type='submit') Submit