body {
  padding: 0;
  margin: 0;
  background-color: rgb(252, 252, 252);
}

.header {
  background-color: rgb(38, 149, 177);
  font-size: 3rem;
  padding: 32px;
  display: flex;
  justify-content: center;
  gap: 20vw;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
  color: black;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.new-message-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60vw;
}

input,
textarea {
  font-family: inherit;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(182, 182, 182);
  font-size: 18px;
}

.name-input {
  height: 30px;
}

.message-input {
  height: 300px;
  resize: none;
}

.submit {
  width: 10vw;
  min-width: 80px;
  border: none;
  background-color: #121212;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px;
}

.submit:hover {
  cursor: pointer;
  background-color: #333333;
}

@media (max-width: 800px) {
  .new-message-form {
    width: 80vw;
  }
}